.header{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,1o.5);
    border-style: double; 
    height: 900px;
}
.image{
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    object-fit: cover
}
h2{
    border-style:ridge;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: white;  
    text-align: center;
    background-color: rgb(3, 3, 54);
    color:aliceblue;
    padding: 12px;
}
section{
    border-style:hidden;
    border-width: 20px;
}
.container{
    display:grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,1);
    position: relative;
    left: 100px;
    top: 80px;
    width: 100%;
    max-width: 1200px;
    min-height: 1000px;
}

.sideA{
    position:relative;
    background-color: rgba(0,0,0,0);
    padding: 20px;
    margin-left: 60px;
}

.sideB{
    position:relative;
    background-color: white;
    padding:20px;
    border-style: double;
}

@media only screen and (min-width: 999px) {
    .sideB{
        background-color: white);
    }
}
form {
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.menu{
    background-color: #ACA9BB;
    width:fit-content;
    height:fit-content;
    margin-left: 20px;
    margin-right: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

body{
    background: #ACA9BB url(./images/viewport.jpg);
    align-items: center;
}

@media only screen and (min-width:790px) {
    body{
      background: #ACA9BB Url(./images/Hero.jpg);
    }
}

@media only screen and (min-width:400px) {
    html{
        animation-name: Hope;
        width: fit-content;
        length: fit-content;
        animation-duration: 6s;
        animation-iteration-count:calc(6s);
        animation-direction:normal;
    }
    @keyframes Hope{
       0% {background-color: #ACA9BB;}
       20% {background-color: white;
            transform:scale(2,3);
       50% {background-color: #ACA9BB );
           border-radius: 50%;
       100% {background-color: #ACA9BB;}
    }
    }
}